.profile-page .header{
 background: #50bebe;
    background: -moz-linear-gradient(left,#50bebe 0,#41aaaa 50%,#0099cb 100%);
    background: -webkit-linear-gradient(left,#50bebe 0,#41aaaa 50%,#0099cb 100%);
    background: linear-gradient(to right,#50bebe 0,#41aaaa 50%,#0099cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50bebe',endColorstr='#0099cb',GradientType=1);
      height: 250px;
}

.wrapper > .header {
    min-height: 250px;
    background-position: center center;
    background-size: cover;
}
.main-top-radio-lbls .radio label {
    font-size: 20px;
    line-height: 18px;
    color: #444;
    font-weight: 400;
    vertical-align: middle;
}
.table tr th {
    color: #444;
    font-weight: 500;
}
.table tr td .form-group {
    padding-bottom: 0;
    margin: 0;
    width: 40px;
}
.no-border {
    border: medium none;
}
.table tr td .checkbox {
    margin: 0;
}
table.table tr td {
    align-items: initial;
    vertical-align: baseline;
}
.sub-radio-selection .checkbox.check-lbl label {
    color: #444;
    font-size: 16px;
    font-weight: 400;
}
.radio label .circle {
    border: 1px solid rgba(0,0,0, .2);
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
.title h2 {
    margin-bottom: 15px;
    margin-top: 25px;
}
.navbar, .navbar.navbar-default {
    background-color: #00abab;
    color: #ffffff;
}
.main-raised {
    margin: -120px 50px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.navbar-brand > img {
    display: block;
    width: 150px;
}
.radio label {
    font-size: 18px;
    line-height: 18px;
    color: #AAAAAA;
    font-weight: 300;
    vertical-align: middle;
}
.sub-radio-selection .checkbox label,.sub-radio-selection .radio label,.sub-radio-selection label {
    font-size: 14px;
    line-height: 18px;
    color: #AAAAAA;
    font-weight: 300;
    vertical-align: middle;
}

.sub-radio-selection {
    margin-top: 15px;
    margin-bottom: 20px;
}

.table-container {
    height: 36em;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}
table thead tr th:first-child, table tbody tr td:first-child{
	width:10%
}
table thead tr th:last-child, table tbody tr td:last-child{
	width:10%;
	text-align:center;
}
table thead tr th:nth-child(4), table tbody tr td:nth-child(4){
	width:15%;
	text-align:center;
}
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
    background-color: #00abab;
    color: #FFFFFF;
}
.margin-top-15{
    margin-top: 15px;
}
.profile-content{
	padding-bottom:20px;
}
input.no-border {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100px;
}
@media only screen and (max-width:950px) {
   .main-raised {
    margin: -120px 10px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
}